<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Document</title>
</head>

<body>

  <div class="container">
    <% Object.keys(articles).forEach(function (id) { %>
    <article>
      <h2><%= articles[id].title %></h2>
      <p><%= articles[id].content %></p>
    </article>
    <% }) %>
  </div>

</body>

</html>
